extends layouts/main-layout.pug 

block content
    img(src="https://blog.thomasnet.com/hs-fs/hubfs/shutterstock_774749455.jpg?width=600&name=shutterstock_774749455.jpg", alt="Page Not Found")
    h1 #{request.url} is not available on the server